<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ site_settings.text }}</title>

    <link rel="icon" href="{{ site_settings.favicon.url }}" type="image/png">
    <link rel="apple-touch-icon" href="{{ site_settings.favicon.url }}">
    <link rel="shortcut icon" href="{{ site_settings.favicon.url }}" type="image/x-icon">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.1/css/bootstrap.min.css"/>
    <style>
        body {
            --bs-bg-opacity: 1;
            background-color: rgba(var(--bs-tertiary-bg-rgb), var(--bs-bg-opacity)) !important;
        }
    </style>
</head>
<body>
{% block header %}
    {% include 'partials/header.html' %}
{% endblock %}

{% block content %}
{% endblock %}

{% block footer %}
    {% include 'partials/footer.html' %}
{% endblock %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.1/js/bootstrap.min.js"></script>
</body>
</html>